.masthead-title[data-scroll] 
{
    transition: all 1s ease;
}

.masthead-title[data-scroll="out"]
{
    opacity: 1;
    transform: translate(0) scale(1);
}

.masthead-title[data-scroll="in"]
{
    opacity: 0;
    transform: translateX(-100%) scale(0.1);
}

.svg-text 
{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear alternate infinite;
}
  
@keyframes dash 
{
    from 
    {
      stroke-dashoffset: 822;
    }
    to {
      stroke-dashoffset: 0;
    }
}