.masthead-title[data-scroll] 
{
    transition: all 1s ease;
}

.masthead-title[data-scroll="out"]
{
    opacity: 1;
    transform: translate(0) scale(1);
}

.masthead-title[data-scroll="in"]
{
    opacity: 0;
    transform: translateX(-100%) scale(0.1);
}

#about {
    display: none;
}
